:root{
--DarkCyan: #3C8067;
--Cream: #F2EBE3;
--VeryDarkBlue: #1C232B;
--DarkGrayishBlue: #6C7289;
--white: #FFFFFF;
}


/* Font import*/
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Fraunces";
    src: url("fonts/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype");
}

/*CSS*/

html{
font-size: 14px;
font-family: "Montserrat";
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;

background-color: var(--Cream);
}

main{
    display: flex;
    justify-content: center;

    background-color: var(--white);
    border-radius: 8px;
    max-width: 600px;
    max-height: 450px;
}

main img{
    width: 100%;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
    object-fit: cover	;
    object-position: 50% 50%;
}

#TextContent{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 2rem !important;
}

#subhead{
    color: var(--DarkGrayishBlue);
    font-weight: 500;
    letter-spacing: 0.5rem;

    margin-top: 0rem;
    margin-bottom: 1rem;
}

#heading{
    color: var(--VeryDarkBlue);
    font-family: "Fraunces";
    font-weight: 700;

    margin-top: 0rem;
    margin-bottom: 2rem;
}

#infotext{
    color: var(--DarkGrayishBlue);
    font-family: "Montserrat";
    font-weight: 500;

    margin-top: 0rem;
    margin-bottom: 2rem;
}

#Pricing{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
}

#Price{
color: var(--DarkCyan);
font-family: "Fraunces";
font-weight: 700;
font-size: 2.5rem;
margin-top: 0rem;
margin-bottom: 0rem;

}

#List-Price{
margin-left: 5%;
color: var(--DarkGrayishBlue);
}

#Button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#AddButton{
border-radius: 8px;
border: none;
height: 48px;
width: 100%;
background-color: var(--DarkCyan);
color: var(--white);
font-size: 1rem;
font-family: 'Montserrat';
font-weight: 700;
}

#AddButton img{
    width: 16px;
    height: 16px;
}

@media (width<600px){
    main{
        flex-direction: column;
        max-height: none;
        max-width: none;
    }

    main img{
        height: 50%;
        width: 100%;
        border-radius: 8px 8px 0px 0px;
    }

    main #TextContent{
        display: flex;

        height: 50%;
        width: 90%;
        margin-right: 20%;
    }

    #Pricing{
        width: 100%;
    }

}

/*
Nächste Aufaben:

-> Button hoverstate hinzufügen
-> Vllt nochmal das img im button anschauen, sieht bissche buggy aus 

-> Zweite Version ab ner gewissen Pixelbreite einbauen, vielleicht einfach ab da wo der content overflowt bei 600px +/- siehe Web-Beispielkomponente
*/